/* ====================================
 * Global Classes.
 * ==================================== */

/* Padding
 * ==================================== */

.padding {
  padding: $base-spacing;
}

.padding-vertical {
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
}

.padding-vertical-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-horizontal {
  padding-right: $base-spacing;
  padding-bottom: $base-spacing;
}

.padding-horizontal-10 {
  padding-right: 10px;
  padding-bottom: 10px;
}

.padding-top {
  padding-top: $base-spacing;
}

.padding-right {
  padding-right: $base-spacing;
}

.padding-bottom {
  padding-bottom: $base-spacing;
}

.padding-left {
  padding-left: $base-spacing;
}

.padding-0 {
  padding: 0;
}

/* margin
 * ==================================== */

.margin {
  margin: $base-spacing;
}

.margin-vertical {
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
}

.margin-vertical-4 {
  margin-top: $base-spacing * 4;
  margin-bottom: $base-spacing * 4;
}

.margin-vertical-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-horizontal {
  margin-right: $base-spacing;
  margin-bottom: $base-spacing;
}

.margin-horizontal-10 {
  margin-right: 10px;
  margin-bottom: 10px;
}

.margin-top {
  margin-top: $base-spacing;
}

.margin-top_2 {
  margin-top: $base-spacing * 2;
}

.margin-top_3 {
  margin-top: $base-spacing * 3;
}

.margin-top_4 {
  margin-top: $base-spacing * 2;
  @include breakpoint(md) {
    margin-top: $base-spacing * 4;
  }
}

.margin-top_8 {
  margin-top: $base-spacing * 4;
  @include breakpoint(md) {
    margin-top: $base-spacing * 8;
  }
}

.margin-right {
  margin-right: $base-spacing;
}

.margin-bottom {
  margin-bottom: $base-spacing;
}

.margin-left {
  margin-left: $base-spacing;
}

.margin-0 {
  margin: 0;
}

/* List
 * ==================================== */

.list-inline {
  li {
    display: inline-block;
  }
}

/* Floats
 * ==================================== */

.left {
  float: left;
}

.right {
  float: right;
}

/* Text Align
 * ==================================== */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Text Align
 * ==================================== */

.border {
  border: 1px solid #eee;
}

.border-top {
  border-top: 1px solid #eee;
}

.border-right {
  border-right: 1px solid #eee;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

.border-left {
  border-left: 1px solid #eee;
}

/* Utilities
 * ==================================== */

.break {
  display: block;
  @include breakpoint(lg) {
    display: inline;
  }
  @include breakpoint(md) {
    display: inline;
  }
  @include breakpoint(sm) {
    display: inline;
  }
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.showgrid [class*='col-'] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
}

.section {
  padding: $base-spacing * 4 0;
}
.mobile-br {
  @include breakpoint(xs) {
    display: block;
  }
  @include breakpoint(sm) {
    display: none;
  }
  @include breakpoint(md) {
    display: none;
  }
  @include breakpoint(lg) {
    display: none;
  }
}

.no-wrap {
  white-space: nowrap;
}

.button {
  border: 1px solid black;
  padding: 6px 12px 8px;
  color: black;
  margin: 48px 6px;
  display: inline-block;
  white-space: nowrap;
  &:hover {
    color: white;
    background: black;
    text-decoration: none;
  }
}
